body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

#highScores, #instructionsArea {
    width: 200px;
    max-height: 100%;
    overflow-y: auto;
}

#highScores h2, #instructionsArea h2 {
    color: #00ff00;
}

#highScores ol, #instructionsArea p {
    color: #fff;
    text-align: left;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 2px solid #00ff00; /* Add border to the game area */
    background-color: #222; /* Dark background for the game area */
    position: relative;
    width: 800px; /* Fixed width for the game area */
    height: 600px; /* Fixed height for the game area */
}

#username, #personalHighScore {
    margin-top: 20px;
}

